[class*="gradient-overlay-half"]::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  transition: all 0.2s ease-in-out;
}

.gradient-overlay-half-bg-gradient::before {
  background: linear-gradient(
    to top,
    #131313 6%,
    rgba(19, 19, 19, 0.2) 72%,
    rgba(34, 34, 34, 0) 89%,
    rgba(44, 44, 44, 0) 100%
  );
  z-index: 0;
}

.transition-3d-hover:hover,
.transition-3d-hover:focus {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

[class*="gradient-overlay-half"] {
  position: relative;
  z-index: 1;
}

.gradient-overlay-half-bg-gradient {
  z-index: 0;
}

.transition-3d-hover {
  transition: all 0.2s ease-in-out;
}
.price {
  bottom: 0;
  right: 0;
}

.card-img-top {
  min-height: 1px;
  width: 100%;
  border-top-left-radius: calc(0.3125rem - 1px);
  border-top-right-radius: calc(0.3125rem - 1px);
}

.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
.logo {
  max-height: 50px;
}

#navbar-toggle-cbox {
  display: none;
}
#navbar-toggle-cbox:checked ~ .collapse {
  display: block !important;
}

.navbar-default .navbar-toggle {
  border-color: #ccc;
}

@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}

ul.currency {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

ul.currency  li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.containerTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}